<og-navbar></og-navbar>
<og-menubar></og-menubar>
<og-saldo></og-saldo>

<div class="container" >
  <!-- INCOMPLETOS -->
  <og-box og-title="objetivos incompletos">
    <og-box-body>
      <og-objetivo-incompleto
        ng-repeat="each in ctrl.objetivosIncompletos"
        objetivo="each"
        callback-acao="ctrl.buscarObjetivos"
      ></og-objetivo-incompleto>
      <div class="adicionar-objetivo">
        <og-button
          label="+ adicionar objetivo"
          on-click="ctrl.goToAddObjetivo"
        ></og-button>
      </div>

      <og-button
        label="simular compra"
        on-click="ctrl.goToSimulacao"
      ></og-button>

    </og-box-body>
  </og-box>

  <!-- GASTOS FIXOS  -->
  <og-box og-title="gastos fixos">
    <og-box-body>
      <og-gasto-fixo
        ng-repeat="each in ctrl.gastosFixos"
        gasto-fixo="each"
        callback-excluir="ctrl.buscarGastosFixos"
      ></og-gasto-fixo>
    </og-box-body>
  </og-box>

  <!-- COMPLETOS-->
  <og-box og-title="objetivos completos">
    <og-box-body>
      <og-objetivo-completo
        ng-repeat="each in ctrl.objetivosCompletos"
        objetivo="each"
        callback-acao="ctrl.buscarObjetivos"
      ></og-objetivo-completo>
      <og-totalizador
        list-objetivos="ctrl.objetivosCompletos"
      ></og-totalizador>
    </og-box-body>
  </og-box>
</div>
