og-objetivo {

  .objetivo-container {
    margin-bottom: 25px;
  }

  .objetivo-title {
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    clear: both;

    h4 {
      font-size: 22px;
      font-weight: 600;
      margin: 0;
      display: inline-block;
    }
  }

  .info {
    font-size: 20px;
    padding-left: 15%;

    .info-categoria {
      margin: 2px 0 5px 0;
    }
  }

  .type {
    color: #7b7b7b;
  }

  .tag-categoria {
    align-self: center;
    width: 50px;
    height: 10px;
    box-shadow: 2px 2px 2px #828282;
  }

  .dropdown-menu > li {

    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px 10px 10px 10px;

    .completar {
      color: #209111;
    }
    .deletar {
      padding-right: 7px;
      color: #d80f0f;
    }
  }

  .deletar-objetivo-completo {
    float: right;
    cursor: pointer;
    color: #d80f0f;
  }

  .icon {
    margin: 0 10px;
    font-size: 30px;
  }
}
