adicionar-objetivo {
  .adicionar-objetivo {
    margin: 0 10% auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .adicionar-objetivo-container{
    margin-top: 10%;
  }

  .adicionar-objetivo-container > h2{
    font-weight: bold;
  }

  .categoria{
    display: flex;
    justify-content: space-between;
  }

  .categoria-opcoes{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #triangulo{
    margin-top: 10%;
    width: 15px;
    height: 15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid;
    cursor: pointer;
  }

  .categoria-opcoes > .adicionar-categoria > label {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .categoria-opcoes > .adicionar-categoria > label > .inputs {
    margin-top: 5px;
    height: 20px;
    font-size:
  }

}
