ca-adicionar-categoria {
  .categoria {
    display: flex;
    flex-direction: column;
    clear: both;
  }

  .adicionar-categoria {
    margin-top: 5%;
    width: 80%;
    align-self: center;
  }
}
