<div class="categoria">
  <div class="adicionar-categoria" ng-show="ctrl.showAdicionar">
    <h3>ADICIONAR CATEGORIA</h3>
    <label for="nome" class="labels type">Nome:</label>
    <input
      id="nome"
      required
      class="inputs"
      type="text"
      name="nome-categoria"
      ng-model="ctrl.categoria.nome"
    >
    <label for="cor" class="labels type">Cor:</label>
    <input
      id="cor"
      required
      type="color"
      name="cor-categoria"
      ng-model="ctrl.categoria.cor"
    >
  </div>
  <og-button
    ng-hide="ctrl.showAdicionar"
    label="Adicionar categoria"
    on-click="ctrl.mostrarAdicionar"
  ></og-button>
  <og-button
    ng-show="ctrl.showAdicionar"
    label="Adicionar categoria"
    on-click="ctrl.adicionar"
  ></og-button>
</div>
