outro-mes {
  .container {
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .adicionar-objetivo {
    margin: 15px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    h4 {
      font-weight: bold;
      cursor: pointer;
    }
  }
}
