<div class="add-container" ng-if="ctrl.showAdicionar">
  <h3 class="margin-bottom">Novo Gasto Fixo: </h3>

  <div class="bloco">
    <label for="nome" class="labels type">Nome:</label>
    <input
      id="nome"
      class="inputs"
      placeholder="Gasto 3"
      type="text"
      name="nome"
      ng-model="ctrl.gastoFixo.nome"
    >
  </div>

  <div class="bloco">
    <label for="valor" class="labels type">Valor:</label>
    <input
      id="valor"
      class="inputs"
      placeholder="R$ 39,90"
      ng-model="ctrl.gastoFixo.valor"
      type="number"
      ng-pattern="/^\d+(?:[\\.\,](\d+)?)?$/"
      name="valor"
    >
  </div>

  <div class="bloco">
    <label for="periodo" class="labels type">Periodo:</label>
    <input
      id="periodo"
      class="inputs"
      placeholder="2 meses"
      type="number"
      ng-model="ctrl.gastoFixo.periodo"
      name="periodo"
    >
  </div>

  <div class="bloco">
    <label for="categoria" class="labels type">Categoria:</label>
    <select
      id="categoria"
      class="inputs"
      ng-options="categoria.nome for categoria in ctrl.categorias"
      ng-model="ctrl.gastoFixo.selectedCategoria"
    ></select>
  </div>

</div>

<og-button
  on-click="ctrl.mostrarAdicionar"
  ng-hide="ctrl.showAdicionar"
  label="Adicionar"
></og-button>
<og-button
  on-click="ctrl.adicionar"
  ng-show="ctrl.showAdicionar"
  label="Adicionar"
></og-button>
