<div class="menu-bar">
  <a ng-class="ctrl.verificarAtivo('/objetivo') ? 'menubar-ativo' : ''" href="/objetivo">
    <hr>
    <div class="icon-container">
      <i class="fa fa-home fa"></i>
      <h4 class="text-home"> Inicial</h4>
    </div>
  </a>
  <a ng-class="ctrl.verificarAtivo('[0-9]') ? 'menubar-ativo' : ''" href="#" ng-click="ctrl.buscarMes()">
    <hr>
    <div class="icon-container">
      <i class="fa fa-calendar fa"></i>
      <h4>Meses</h4>
    </div>
  </a>
  <a ng-class="ctrl.verificarAtivo('/estatistica') ? 'menubar-ativo' : ''" href="/estatistica">
    <hr>
    <div class="icon-container">
      <i class="fa fa-pie-chart fa"></i>
      <h4>Estatísticas</h4>
    </div>
  </a>
  <a ng-class="ctrl.verificarAtivo('/gasto-fixo') ? 'menubar-ativo' : ''" href="/gasto-fixo">
    <hr>
    <div class="icon-container">
      <i class="fa fa-usd fa"></i>
      <h4>Gastos</h4>
    </div>
  </a>
  <a ng-class="ctrl.verificarAtivo('/perfil') ? 'menubar-ativo' : ''" href="/perfil">
    <hr>
    <div class="icon-container">
      <i class="fa fa-user fa"></i>
      <h4>Perfil</h4>
    </div>
  </a>
</div>
