<og-navbar></og-navbar>
<og-menubar></og-menubar>
<div class="container">
  <h3>SIMULAÇÃO</h3>
  <div class="selecionar-todos pretty p-icon p-round">
    <input
      id="simulacao"
      type="checkbox"
      ng-model="ctrl.selecionaTodos"
      ng-click="ctrl.selecionarTodos()"
    >
    <div class="state">
      <label for="simulacao">
        Selecionar todos
      </label>
      <i class="icon icon-custom fa fa-check" ng-show="ctrl.selecionaTodos"></i>
    </div>
  </div>

  <og-objetivo
    ng-repeat="each in ctrl.objetivosIncompletos"
    objetivo="each"
    actions="ctrl.actions"
    caller="ctrl"
  ></og-objetivo>
  <og-button
    label="simular"
    model="ctrl.selecionados"
    on-click="ctrl.simular"
  ></og-button>
</div>
