estatistica {
  .container-estatistica {
    margin-bottom: 100px;
  }

  .title-grafico {
    text-align: center;
    font-weight: 600;
  }

  .grafico-container {
    margin: 30px auto;
  }

  .title-grafico {
    margin: 20px 0 20px 0;
  }
}
